.main-product {
  color: @font-section;
}

.main-product__slogan {
  font-weight: bold;
  .line-size(17px, 20px);
  text-transform: uppercase;
  color: @product-types-basic;
}

.main-product__description {
  .line-size(15px, 24px);
}

.main-product__price {
  font-weight: bold;
  .line-size(17px, 24px);
}

.main-product__buy {
  font-weight: bold;
  .line-size(17px, 20px);
  text-transform: uppercase;
  color: inherit;
}
