.make-order {
  padding-top: 17px;
}

.make-order__description {
  margin: 0;
  padding: 0;

  .line-size(13px, 24px);
  color: @font-section;

  @media (min-width: @tablet-width) {
    .line-size(17px, 30px);
  }

  @media (min-width: @desktop-width) {
    padding-left: 177px;
  }
}

.make-order__wrapper {
  @media (min-width: @tablet-width) {
    display: contents;
  }
}
