.order-form {
  padding-top: 29px;
  padding-bottom: 55px;

  @media (min-width: @tablet-width) {
    padding-top: 27px;
    padding-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 44px;
  }
}

.order-form__fieldset {
  position: relative;

  border: none;

  &--textarea {
    padding-top: 33px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 217px;

    &--textarea {
      padding-top: 50px;
      padding-bottom: 40px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 226px;

    &--textarea {
      padding-top: 51px;
      padding-right: 225px;
    }
  }
}

.order-form__legend {
  position: relative;

  display: flex;
  width: 100%;
  padding: 0;

  background-color: @background-basic;

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;

    width: 100%;
    height: 1px;

    background-color: @product-types-basic;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 66px;
    left: 50px;

    display: block;
    width: 100px;

    .line-size(19px, 21px);

    background-color: inherit;

    &::after {
      display: none;
    }

    &--radio {
      top: 50px;
    }
  }

  &--communication {
    @media (min-width: @tablet-width) {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    top: 64px;
    left: 112px;

    &--radio {
      top: 53px;
    }

    &--communication {
      left: 62px;
      top: 33px;
    }
  }
}

.order-form__span {
  position: relative;
  z-index: 2;

  display: block;
  margin-right: auto;
  padding: 0;
  padding-right: 23px;

  font-weight: bold;
  .line-size(17px, 20px);
  text-transform: uppercase;
  color: @product-types-basic;

  background-color: inherit;

  @media (min-width: @tablet-width) {
    display: contents;
  }
}

.order-form__label {
  position: relative;

  display: block;
  padding-left: 60px;

  font-weight: bold;
  .line-size(17px, 18px);

  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-left: 81px;
    .line-size(19px, 21px);
  }

  @media (min-width: @desktop-width) {
    padding-left: 79px;
  }
}

.order-form__radio {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: block;
  width: 42px;
  height: 42px;

  fill: @transparent;
  stroke: @font-section;

  @media (min-width: @tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.radio-list__input:checked + .order-form__label .order-form__radio {
  fill: @product-types-basic;
}

.order-form__label:hover .order-form__radio,
.radio-list__input:focus + .order-form__label .order-form__radio {
  stroke: @product-types-basic;
}

.radio-list__input:active + .order-form__label .order-form__radio {
  stroke: @font-basic;
  stroke-opacity: 0.3;
}

.order-form__checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: block;
  width: 38px;
  height: 38px;

  fill: @transparent;
  stroke: @font-section;

  @media (min-width: @tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.checkboxes-list__input:checked + .order-form__label .order-form__checkbox {
  fill: @font-basic;
}

.order-form__label:hover .order-form__checkbox,
.checkboxes-list__input:focus + .order-form__label .order-form__checkbox {
  stroke: @product-types-basic;
}

.checkboxes-list__input:active + .order-form__label .order-form__checkbox {
  stroke: @font-basic;
  stroke-opacity: 0.3;
}

.order-form__label:hover,
.checkboxes-list__input:focus + .order-form__label,
.radio-list__input:focus + .order-form__label {
  color: @product-types-basic;
}

.order-form__label:active {
  color: @font-section-active;
}

.order-form__explanation {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 30px;

  .line-size(14px, 16px);
  color: @font-section;

  @media (min-width: @tablet-width) {
    width: 303px;
    margin-top: 24px;
    margin-bottom: 25px;
    order: 1;

    .line-size(17px, 30px);
  }

  @media (min-width: @desktop-width) {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 174px;
  }
}

.order-form__submit {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 14px;

  font-family: inherit;
  font-weight: bold;
  .line-size(17px, 20px);
  color: @font-section;
  text-transform: uppercase;

  background-color: @transparent;
  border: 2px solid @font-section;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 230px;
  }

  &:hover,
  &:focus {
    color: @background-basic;
    background-color: @font-section;
  }

  &:active {
    color: @link-hover;
  }
}

.order-form__types-list {
  margin: 0;
}

.order-form__colors-list {
  margin: 0;
}

.order-form__name-list {
  margin: 0;
}

.name-list__item .order-form__label {
  padding-left: 0;
}

.order-form__input {
  display: block;
  width: 100%;

  font-family: inherit;
  padding: 17px 0;
  .line-size(17px, 18px);
  color: @font-section;

  background-color: @transparent;
  border: none;
  border-bottom: 2px solid @font-basic;
  cursor: pointer;

  &::-webkit-input-placeholder {
    color: @font-basic;

    opacity: 0.3;
  }

  &:-ms-input-placeholder {
    color: @font-basic;

    opacity: 0.3;
  }

  &::-moz-placeholder {
    color: @font-basic;

    opacity: 0.3;
  }

  &:active::-webkit-input-placeholder {
    opacity: 1;
  }

  &:active:-ms-input-placeholder {
    opacity: 1;
  }

  &:active::-moz-placeholder {
    opacity: 1;
  }

  &:hover,
  &:focus {
    border-color: @product-types-basic;
    outline: none;
  }

  &--communication {
    @media (min-width: @tablet-width) {
      flex-grow: 1;
      width: auto;
      padding-left: 17px;

      .line-size(19px, 19px);
    }
  }
}

.order-form__fieldset--contact {
  position: relative;

  margin: 0;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-bottom: 15px;
    padding-left: 167px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
  }

  &:last-child {
    margin: 0;
  }
}


.order-form__textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 142px;
  margin: 0;
  margin-top: 20px;
  padding: 17px;
  resize: none;

  font-family: inherit;
  .line-size(17px, 17px);
  color: #444444;

  border: 2px solid @font-basic;
  cursor: pointer;

  &::-webkit-input-placeholder {
    color: @font-basic;

    opacity: 0.3;
  }

  &:-ms-input-placeholder {
    color: @font-basic;

    opacity: 0.3;
  }

  &::-moz-placeholder {
    color: @font-basic;

    opacity: 0.3;
  }

  &:active::-webkit-input-placeholder {
    opacity: 1;
  }

  &:active:-ms-input-placeholder {
    opacity: 1;
  }

  &:active::-moz-placeholder {
    opacity: 1;
  }

  &:hover,
  &:focus {
    border-color: @product-types-basic;
    outline: none;
  }

  @media (min-width: @tablet-width) {
    margin-top: 0;
    padding-top: 15px;

    .line-size(19px, 21px);
  }

  @media (min-width: @desktop-width) {
    padding-top: 14px;
    padding-left: 15px;
  }
}

.order-form__background-item {
  display: contents;

  @media (min-width: @tablet-width) {
    display: block;
    background-color: @background-footer;
  }
}

.order-form__submit-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding-left: 225px;
  }
}

.order-form__icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50% + 35px);

  width: 25px;
  height: 24px;

  fill: @font-basic;
  opacity: 0.2;

  &--mail {
    width: 32px;
    height: 32px;
  }

  @media (min-width: @tablet-width) {
    top: 53%;
    transform: translateY(-50%);
    right: 23px;
  }

  @media (min-width: @desktop-width) {
    right: 6px;
  }
}

.order-form__fieldset--contact .order-form__input:hover + .order-form__icon,
.order-form__fieldset--contact .order-form__input:focus + .order-form__icon {
  fill: @product-types-basic;
  opacity: 1;
}

.order-form__contacts-wrapper {
  padding-top: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 41px;
    padding-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 225px;
  }
}
