.page-title {
  padding-top: 74px;
  padding-bottom: 73px;

  font-weight: bold;
  .line-size(27px, 30px);
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 57px;
    padding-bottom: 65px;

    .line-size(43px, 50px);
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    padding-top: 57px;
    padding-bottom: 80px;

    .line-size(53px, 57px);
  }

  &--main-page {
    min-height: 200px;
    padding-top: 73px;
    padding-bottom: 50px;

    @media (min-width: @tablet-width) {
      min-height: 405px;
      padding-top: 111px;
      padding-bottom: 120px;
    }

    @media (min-width: @desktop-width) {
      min-height: 402px;
      padding-top: 114px;
      padding-bottom: 120px;
    }
  }
}
