.site-list {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: contents;
  }
  list-style: none;
}

.nav-main--no-js .site-list,
.nav-main--show .site-list {
  @media (max-width: @tablet-width - 1) {
    display: contents;
  }
}

.site-list__item {
  display: flex;
  margin: 0;
  padding-top: 28px;
  padding-right: 10%;
  padding-bottom: 28px;
  padding-left: 24%;
  order: 3;

  box-shadow: 0 1px 0 @border-table,
    inset 0 1px 0 @border-table;

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    align-items: center;
    padding: 32px 0;
    box-shadow: inset 0 -1px 0 @border-table;
  }
}

.site-list__item:first-child {
  @media (min-width: @desktop-width) {
    box-shadow: 1px 0 0 @border-table,
      inset 0 -1px 0 @border-table;
  }
}

.site-list__item:first-child,
.site-list__item:nth-child(2) {
  @media (min-width: @desktop-width) {
    order: 0;
  }
}

.site-list__link {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;


  font-weight: bold;
  .line-size(17px, 24px);
  color: @font-basic;

  @media (min-width: @desktop-width) {
    display: block;
    max-width: 205px;
    margin: 0 36px;

    text-align: left;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__item:first-child .site-list__link {
  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}
