.site-skills-list {
  display: block;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 45% 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 57px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 265px 325px;
    grid-column-gap: 85px;
  }
}

.site-skills-list__item {
  position: relative;

  padding-top: 77px;

  font-weight: bold;
  .line-size(17px, 20px);

  @media (min-width: @tablet-width) {
    padding-top: 90px;

    .line-size(20px, 22px);
  }

  &::before {
    content: "";

    position: absolute;
    top: 32px;
  }
}

.site-skills-list__item--ecological-material {
  &::before {
    left: 5px;

    width: 32px;
    height: 37px;

    .background-image(url("../img/icon-feature-flower.svg"), 0 0, no-repeat);
  }
}

.site-skills-list__item--scandinavian-style {
  &::before {
    left: 0;

    width: 47px;
    height: 27px;

    .background-image(url("../img/icon-feature-money.svg"), 0 0, no-repeat);
  }
}

.site-skills-list__item--more-likes {
  &::before {
    left: 3px;

    width: 34px;
    height: 27px;

    .background-image(url("../img/icon-feature-heart.svg"), 0 0, no-repeat);
  }
}

.site-skills-list__item--handmade-work {
  &::before {
    left: 0;

    width: 35px;
    height: 34px;

    .background-image(url("../img/icon-feature-ball.svg"), 0 0, no-repeat);
  }
}

.site-skills-list__item--manufacturer {
  &::before {
    left: -2px;

    width: 55px;
    height: 23px;

    .background-image(url("../img/icon-feature-rocket.svg"), 0 0, no-repeat);
  }
}

.site-skills-list__item--gift-wrapping {
  &::before {
    left: 0;

    width: 33px;
    height: 32px;

    .background-image(url("../img/icon-feature-gift.svg"), 0 0, no-repeat);
  }
}
