.social-networks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    width: 350px;
  }
}

.social-networks-list__item {
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.social-networks-list .social-networks-list__item:last-child {
  margin: 0;
}
