.social-networks-list {
  position: relative;

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 23%;

  list-style: none;

  @media (min-width: @tablet-width) {
    width: 21.1%;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 13.4%;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: -27px;
    right: 0;

    width: 100%;
    height: 1px;

    background-color: @footer-line;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.social-networks-list__item {
  margin: 0;
  padding: 0;
}

.social-networks-list .social-networks-list__item:last-child {
  margin: 0;
}

.social-networks-list__link {
  display: block;
}

.social-networks-list__icon-insta {
  display: block;
  width: 22px;
  height: 21px;
}

.social-networks-list__link:hover .social-networks-list__icon-insta,
.social-networks-list__link:focus .social-networks-list__icon-insta,
.social-networks-list__link:hover .social-networks-list__icon-fb,
.social-networks-list__link:focus .social-networks-list__icon-fb,
.social-networks-list__link:hover .social-networks-list__icon-tw,
.social-networks-list__link:focus .social-networks-list__icon-tw {
  fill: @product-types-active;
}

.social-networks-list__link:active .social-networks-list__icon-insta,
.social-networks-list__link:active .social-networks-list__icon-fb,
.social-networks-list__link:active .social-networks-list__icon-tw {
  opacity: 0.3;
}

.social-networks-list__icon-fb {
  display: block;
  width: 15px;
  height: 29px;
}

.social-networks-list__icon-tw {
  display: block;
  width: 24px;
  height: 20px;
}
