.specifications-table {
  width: 100%;
  padding: 0;

  .line-size(15px, 20px);
  color: @font-section;

  list-style: none;

  border-collapse: collapse;
}

.specifications-table__specification {
  padding-bottom: 10px;

  vertical-align: top;

  border-bottom: 1px solid @border-table;
}

.specifications-table__value {
  padding-bottom: 10px;

  vertical-align: top;

  border-bottom: 1px solid @border-table;
}
