.background-image(@image: none, @position: 0 0, @repeat: no-repeat) {
  background-image: @image;
  background-position: @position;
  background-repeat: @repeat;
}

.line-size(@font-size: 18px, @line-height: 27px) {
  font-size: @font-size;
  line-height: @line-height;
}

.modal(@top: 0, @right: 0, @bottom: 0, @left: 0) {
  position: fixed;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;

  display: none;
  margin: auto;

  color: @font-section;

  background-color: @background-basic;
  border: 1px solid @modal-border;
  box-shadow: 0 5px 10px @modal-shadow;
}
