@attention-grabbing: #ff0000;
@background-basic: #ffffff;
@background-footer: #f1f1f1;
@background-special: #f9f9f9;
@border-table: #ececec;
@font-basic: #000000;
@font-section: #444444;
@font-section-hover: rgba(68, 68, 68, 0.6);
@font-section-active: rgba(68, 68, 68, 0.3);
@footer-line: #e5e5e5;
@link-hover: rgba(255, 255, 255, 0.3);
@modal-background: rgba(255, 255, 255, 0.9);
@modal-border: #c6c6c6;
@modal-shadow: rgba(0, 1, 1, 0.25);
@nav-toggle: #231f20;
@product-shadow: rgba(0, 0, 0, 0.1);
@product-types-active: #46c1ae;
@product-types-basic: #63d1bb;
@product-types-icons: #149080;
@product-types-hover: #59d5bc;
@product-types-special: #56c3b2;
@size-border: rgba(68, 68, 68, 0.1);
@transparent: transparent;

@font: "Open Sans";

@desktop-width: 1150px;
@mobile-width: 320px;
@tablet-width: 768px;

@retina-dppx: 1.5dppx;
@retina-dpi: 144dpi;
