@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  background-color: var(--basic-background);
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  box-sizing: content-box;
  width: auto;
  margin: 0;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .container {
    width: 1050px;
    margin: 0 auto;
  }
}
.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
}
.page-header__group {
  display: contents;
}
@media (min-width: 768px) {
  .page-header__group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (min-width: 1150px) {
  .page-header__group {
    width: 1050px;
  }
}
.page-header__logo-wrapper {
  display: contents;
}
@media (min-width: 768px) {
  .page-header__logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
    order: 1;
    box-shadow: inset 0 -1px 0 #ececec;
  }
}
@media (min-width: 768px) {
  .page-header__logo-wrapper {
    padding-left: 45px;
  }
}
.page-header__logo {
  display: block;
  align-self: center;
  margin: 22px auto;
}
@media (min-width: 768px) {
  .page-header__logo {
    margin: 0;
    margin-right: auto;
  }
}
@media (min-width: 1150px) {
  .page-header__logo {
    margin-right: 100px;
  }
}
.page-header__logo[href]:hover,
.page-header__logo[href]:focus {
  opacity: 0.6;
}
.page-header__logo[href]:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .page-header__logo-image {
    width: 113px;
  }
}
@media (min-width: 1150px) {
  .page-header__logo-image {
    width: 149px;
  }
}
.page-header__inner {
  background-color: #f9f9f9;
  display: none;
}
@media (min-width: 768px) {
  .page-header__inner {
    display: block;
    width: 100%;
  }
}
.page-header__links-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.page-header__extra-nav {
  margin: 0;
}
.page-header__services {
  margin: 0;
}
.nav-main {
  display: contents;
}
.nav-main__toggle {
  position: absolute;
  top: 32px;
  right: 30px;
  width: 21px;
  height: 14px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-main__toggle::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 6px 0 0 #231f20, 0 -6px 0 0 #231f20;
}
@media (min-width: 768px) {
  .nav-main__toggle {
    display: none;
  }
}
.nav-main--no-js .nav-main__toggle {
  display: none;
}
.site-list {
  display: contents;
  list-style: none;
}
@media (min-width: 768px) {
  .site-list {
    display: none;
  }
}
@media (min-width: 1150px) {
  .site-list {
    display: contents;
  }
}
.nav-main--closed .site-list {
  display: none;
}
.site-list__item {
  display: flex;
  margin: 0;
  padding-top: 27px;
  padding-right: 10%;
  padding-bottom: 27px;
  padding-left: 25%;
  order: 3;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}
@media (min-width: 1150px) {
  .site-list__item {
    box-sizing: border-box;
    align-items: center;
    padding: 32px 0;
    box-shadow: none;
  }
}
@media (min-width: 1150px) {
  .site-list__item:first-child {
    box-shadow: 1px 0 0 #ececec, inset 0 -1px 0 #ececec;
  }
}
.site-list__item:nth-child(2) {
  box-shadow: inset 0 -1px 0 #ececec;
}
@media (min-width: 1150px) {
  .site-list__item:first-child,
  .site-list__item:nth-child(2) {
    order: 0;
  }
}
.site-list__link {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 1150px) {
  .site-list__link {
    display: block;
    max-width: 205px;
    margin: 0 32px;
    text-align: left;
  }
}
.site-list__link[href]:hover,
.site-list__link[href]:focus {
  opacity: 0.6;
}
.site-list__link[href]:active {
  opacity: 0.3;
}
@media (min-width: 1150px) {
  .site-list__item:first-child .site-list__link {
    margin-left: 0;
  }
}
.user-list {
  display: contents;
  list-style: none;
}
.nav-main--closed .user-list {
  display: none;
}
.user-list__item {
  display: flex;
  margin: 0;
  padding-top: 27px;
  padding-right: 10%;
  padding-bottom: 27px;
  padding-left: 25%;
  order: 3;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}
@media (min-width: 768px) {
  .user-list__item {
    box-sizing: border-box;
    align-items: center;
    padding: 32px 0;
    box-shadow: none;
  }
}
@media (min-width: 768px) {
  .user-list__item:first-child,
  .user-list__item:nth-child(2) {
    order: 2;
    box-shadow: -1px 0 0 #ececec, inset 0 -1px 0 #ececec;
  }
}
.user-list__link {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .user-list__link {
    display: block;
    max-width: 205px;
    margin: 0 32px;
    text-align: left;
  }
}
.user-list__link[href]:hover,
.user-list__link[href]:focus {
  color: rgba(68, 68, 68, 0.6);
}
.user-list__link[href]:active {
  color: rgba(68, 68, 68, 0.3);
}
.user-list__link--search {
  position: relative;
}
@media (min-width: 768px) {
  .user-list__link--search {
    width: 18px;
    height: 18px;
  }
}
.user-list__link--cart {
  position: relative;
}
@media (min-width: 768px) {
  .user-list__link--cart {
    margin-left: 85px;
  }
}
@media (min-width: 768px) {
  .user-list__item:nth-child(2) .user-list__link,
  .user-list__item:last-child .user-list__link {
    margin-right: 0;
  }
}
.user-list__span {
  display: contents;
}
@media (min-width: 768px) {
  .user-list__span {
    display: block;
  }
}
.user-list__icon-cart {
  position: absolute;
  top: 50%;
  left: -46px;
  transform: translateY(-50%);
  display: block;
  width: 21px;
  height: 19px;
  fill: #231f20;
  opacity: 0.2;
}
@media (min-width: 768px) {
  .user-list__icon-cart {
    left: -53px;
  }
}
.user-list__link--cart:hover .user-list__icon-cart,
.user-list__link--cart:focus .user-list__icon-cart,
.user-list__link--search:hover .user-list__icon-search,
.user-list__link--search:focus .user-list__icon-search {
  fill: #63d1bb;
  opacity: 1;
}
.user-list__link--cart:active .user-list__icon-cart,
.user-list__link--search:active .user-list__icon-search {
  opacity: 0.3;
}
.user-list__icon-search {
  top: 50%;
  left: -44px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  opacity: 0.2;
}
@media (min-width: 768px) {
  .user-list__icon-search {
    top: 0;
    left: 0;
    transform: translateY(0);
  }
}
.page-main__group-wrapper {
  background-color: #f9f9f9;
}
.extra-nav-list {
  padding: 0;
}
@media (min-width: 768px) {
  .extra-nav-list {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
  }
}
@media (min-width: 1150px) {
  .extra-nav-list {
    width: 75%;
  }
}
.extra-nav-list__item {
  display: contents;
}
.extra-nav-list__link {
  max-width: 250px;
  margin-top: 24px;
  margin-right: 5%;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: inherit;
}
@media (min-width: 768px) {
  .extra-nav-list__link--secondary {
    display: none;
  }
}
@media (min-width: 1150px) {
  .extra-nav-list__link--secondary {
    display: block;
  }
  .extra-nav-list__link--priority {
    display: none;
  }
}
.extra-nav-list__link:hover,
.extra-nav-list__link:focus {
  opacity: 0.6;
}
.extra-nav-list__link:active {
  opacity: 0.3;
}
.extra-nav-list__item:last-child .extra-nav-list__link {
  margin-right: 0;
}
.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  padding: 0;
}
.services-list__item {
  display: contents;
}
.services-list__link {
  margin-top: 24px;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}
.services-list__link:hover,
.services-list__link:focus {
  opacity: 0.6;
}
.services-list__link:active {
  opacity: 0.3;
}
.page-title {
  position: relative;
  padding-top: 74px;
  padding-bottom: 73px;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-title {
    padding-top: 57px;
    padding-bottom: 65px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .page-title {
    width: 700px;
    padding-top: 57px;
    padding-bottom: 80px;
    font-size: 53px;
    line-height: 57px;
  }
}
.page-title--main-page {
  min-height: 180px;
  padding-top: 73px;
  padding-bottom: 50px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-title--main-page {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}
@media (min-width: 768px) {
  .page-title--main-page {
    min-height: 405px;
    padding-top: 111px;
    padding-bottom: 120px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: top;
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-title--main-page {
    background-image: url("../img/hero-tablet@2x.jpg");
    background-size: 1150px auto;
  }
}
@media (min-width: 1150px) {
  .page-title--main-page {
    min-height: 402px;
    padding-top: 114px;
    padding-bottom: 120px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: top;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .page-title--main-page {
    background-image: url("../img/hero-desktop@2x.jpg");
  }
}
.page-title::after {
  content: "";
  width: 100%;
  height: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .page-title::after {
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto 24px;
  }
}
@media (min-width: 1150px) {
  .page-title::after {
    height: 34px;
    background-size: auto 34px;
  }
}
.page-title--main-page::after {
  display: none;
}
.types-list {
  position: relative;
  display: contents;
  list-style: none;
}
@media (min-width: 768px) {
  .types-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.types-list::after {
  z-index: 5;
}
@media (min-width: 768px) {
  .types-list::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto 24px;
  }
}
@media (min-width: 1150px) {
  .types-list::after {
    height: 34px;
    background-size: auto 34px;
  }
}
.types-list__item {
  display: contents;
  background-color: #63d1bb;
}
.types-list__item--children-toys {
  background-color: #56c3b2;
}
.types-list__link {
  position: relative;
  display: block;
  min-height: 48px;
  padding-top: 24px;
  padding-right: 120px;
  padding-bottom: 31px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  background-color: #63d1bb;
}
@media (min-width: 768px) {
  .types-list__link {
    min-height: 70px;
    padding-top: 25px;
    padding-right: 150px;
    padding-bottom: 34px;
    padding-left: 37px;
  }
}
@media (min-width: 1150px) {
  .types-list__link {
    padding-right: 320px;
  }
}
.types-list__link--interior-items:hover,
.types-list__link--interior-items:focus {
  background-color: #59d5bc;
}
.types-list__icon-interior {
  position: absolute;
  top: 23px;
  right: 36px;
  display: block;
  width: 40px;
  height: 62px;
  fill: #149080;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .types-list__icon-interior {
    top: 30px;
  }
}
.types-list__link--children-toys {
  background-color: #56c3b2;
}
.types-list__link--children-toys:hover,
.types-list__link--children-toys:focus {
  background-color: #46c1ae;
}
.types-list__icon-toy {
  position: absolute;
  top: 21px;
  right: 27px;
  display: block;
  width: 60px;
  height: 60px;
  fill: #149080;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .types-list__icon-toy {
    top: 31px;
    right: 33px;
  }
}
@media (min-width: 1150px) {
  .types-list__icon-toy {
    right: 35px;
  }
}
.types-list__link:hover,
.types-list__link:focus {
  min-height: 53px;
}
@media (min-width: 768px) {
  .types-list__link:hover,
  .types-list__link:focus {
    min-height: 75px;
  }
}
.types-list__link:hover .types-list__icon-interior,
.types-list__link:focus .types-list__icon-interior,
.types-list__link:hover .types-list__icon-toy,
.types-list__link:focus .types-list__icon-toy {
  opacity: 0.7;
}
.types-list__link:active .types-list__icon-interior,
.types-list__link:active .types-list__icon-toy {
  opacity: 0.3;
}
.main-product {
  display: flex;
  flex-direction: column;
  padding-top: 31px;
  padding-bottom: 35px;
  color: #444444;
}
@media (min-width: 768px) {
  .main-product {
    display: block;
    padding-top: 40px;
    padding-bottom: 55px;
  }
}
@media (min-width: 1150px) {
  .main-product {
    position: relative;
    margin-top: 50px;
    padding-top: 61px;
    padding-bottom: 75px;
    background-image: url("../img/triple-set-desktop@1x.jpg");
    background-position: 575px 0;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .main-product {
    background-image: url("../img/triple-set-desktop@2x.jpg");
  }
}
.main-product__section-title {
  margin: 0;
}
@media (min-width: 1150px) {
  .main-product__section-title {
    margin-left: 175px;
  }
}
.main-product__title-wrapper {
  display: contents;
}
@media (min-width: 768px) {
  .main-product__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1150px) {
  .main-product__title-wrapper {
    display: contents;
  }
}
.main-product__slogan {
  display: block;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #63d1bb;
}
@media (min-width: 768px) {
  .main-product__slogan {
    width: 130px;
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .main-product__slogan {
    position: absolute;
    top: 69px;
    left: 82px;
  }
}
.main-product__main-wrapper {
  display: contents;
}
@media (min-width: 768px) {
  .main-product__main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 38px;
  }
}
@media (min-width: 1150px) {
  .main-product__main-wrapper {
    display: contents;
  }
}
.main-product__info-wrapper {
  display: contents;
}
@media (min-width: 768px) {
  .main-product__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 47%;
  }
}
@media (min-width: 1150px) {
  .main-product__info-wrapper {
    display: block;
    width: 292px;
    margin-left: 175px;
  }
}
.main-product__description {
  margin: 0;
  margin-top: 18px;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .main-product__description {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .main-product__description {
    margin-top: 35px;
  }
}
.main-product__specifications-table {
  margin: 28px 0;
}
@media (min-width: 768px) {
  .main-product__specifications-table {
    margin-top: 48px;
    margin-bottom: 57px;
  }
}
@media (min-width: 1150px) {
  .main-product__specifications-table {
    margin-top: 60px;
    margin-bottom: 109px;
  }
}
.main-product__image {
  display: block;
  width: 100%;
  order: 1;
}
@media (min-width: 768px) {
  .main-product__image {
    order: 0;
  }
}
@media (min-width: 1150px) {
  .main-product__image {
    display: none;
  }
}
.main-product__price {
  margin: 25px 0;
  order: 2;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-product__price {
    margin: 0;
    margin-bottom: 33px;
    order: 0;
    font-size: 20px;
    line-height: 24px;
  }
}
.main-product__buy {
  display: block;
  padding: 16px;
  order: 2;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  border: 2px solid #444444;
}
@media (min-width: 768px) {
  .main-product__buy {
    order: 0;
  }
}
.main-product__buy:hover,
.main-product__buy:focus {
  color: #ffffff;
  background-color: #444444;
}
.main-product__buy:active {
  color: rgba(255, 255, 255, 0.3);
}
.section-title {
  padding: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .section-title {
    font-size: 53px;
    line-height: 57px;
  }
}
.specifications-table {
  width: 100%;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  list-style: none;
  border-collapse: collapse;
}
.specifications-table__specification {
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
.specifications-table__value {
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
.about-us {
  padding-top: 30px;
  padding-bottom: 58px;
}
@media (min-width: 768px) {
  .about-us {
    padding-top: 40px;
    padding-bottom: 83px;
  }
}
@media (min-width: 1150px) {
  .about-us {
    padding-top: 50px;
    padding-bottom: 90px;
  }
}
.about-us__section-title {
  margin: 0;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .about-us__section-title {
    margin-bottom: 35px;
  }
}
@media (min-width: 1150px) {
  .about-us__section-title {
    margin-left: 175px;
    margin-bottom: 40px;
  }
}
.about-us__list {
  margin: 0;
}
@media (min-width: 1150px) {
  .about-us__list {
    margin-left: 175px;
  }
}
.site-skills-list {
  display: block;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .site-skills-list {
    display: grid;
    grid-template-columns: 45% 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 57px;
  }
}
@media (min-width: 1150px) {
  .site-skills-list {
    grid-template-columns: 265px 325px;
    grid-column-gap: 85px;
  }
}
.site-skills-list__item {
  position: relative;
  padding-top: 77px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .site-skills-list__item {
    padding-top: 90px;
    font-size: 20px;
    line-height: 22px;
  }
}
.site-skills-list__item--ecological-material {
  background-image: url("../img/icon-feature-flower.svg");
  background-position: 5px 32px;
  background-repeat: no-repeat;
  background-size: 32px 37px;
}
.site-skills-list__item--scandinavian-style {
  background-image: url("../img/icon-feature-money.svg");
  background-position: 0 32px;
  background-repeat: no-repeat;
  background-size: 47px 27px;
}
.site-skills-list__item--more-likes {
  background-image: url("../img/icon-feature-heart.svg");
  background-position: 3px 32px;
  background-repeat: no-repeat;
  background-size: 34px 27px;
}
.site-skills-list__item--handmade-work {
  background-image: url("../img/icon-feature-ball.svg");
  background-position: 0 32px;
  background-repeat: no-repeat;
  background-size: 35px 34px;
}
.site-skills-list__item--manufacturer {
  background-image: url("../img/icon-feature-rocket.svg");
  background-position: -2px 32px;
  background-repeat: no-repeat;
  background-size: 55px 23px;
}
.site-skills-list__item--gift-wrapping {
  background-image: url("../img/icon-feature-gift.svg");
  background-position: 0 32px;
  background-repeat: no-repeat;
  background-size: 33px 32px;
}
.comments__add-comment {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
}
.comments-list {
  list-style: none;
}
.comments-list__comment {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.comments-list__commentator {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
.comments-list__commentator-id {
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}
.controls-list {
  list-style: none;
}
.communication__write-us-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
}
.contacts-table {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.contacts-table__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.contacts-table__link {
  color: inherit;
}
.make-order__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
.order-form__fieldset-legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}
.order-form__explanation {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
.order-form__sumbit-button {
  font-size: 17px;
  line-height: 20px;
  color: #444444;
  background-color: inherit;
}
.form-label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}
.radio-list {
  list-style: none;
}
.checkboxes-list {
  list-style: none;
}
.name-list {
  list-style: none;
}
.info-input {
  font-size: 17px;
  line-height: 18px;
  color: #444444;
}
.info-input::-webkit-input-placeholder {
  color: #444444;
  opacity: 0.3;
}
.info-input:-ms-input-placeholder {
  color: #444444;
  opacity: 0.3;
}
.info-input::-moz-placeholder {
  color: #444444;
  opacity: 0.3;
}
.form-textarea {
  resize: none;
  font-size: 19px;
  line-height: 20px;
  color: #444444;
  font-family: inherit;
}
.form-textarea::-webkit-input-placeholder {
  color: #444444;
  opacity: 0.3;
}
.form-textarea:-ms-input-placeholder {
  color: #444444;
  opacity: 0.3;
}
.form-textarea::-moz-placeholder {
  color: #444444;
  opacity: 0.3;
}
.products-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .products-list {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 54px;
  }
}
@media (min-width: 1150px) {
  .products-list {
    grid-template-columns: 316px 316px 316px;
    grid-gap: 51px;
  }
}
@media (min-width: 768px) {
  .products-list__item {
    display: contents;
  }
}
@media (min-width: 1150px) {
  .products-list__item {
    display: block;
  }
}
.products-list__image-link {
  display: block;
}
.products-list__image {
  display: block;
  width: 100%;
}
@media (min-width: 1150px) {
  .products-list__image {
    width: 316px;
  }
}
.products-list__group-wrapper {
  position: relative;
  padding: 25px 30px;
  border: 1px solid #ececec;
}
@media (min-width: 768px) {
  .products-list__group-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 334px;
    padding: 26px 33px;
  }
}
@media (min-width: 1150px) {
  .products-list__group-wrapper {
    display: block;
    box-sizing: content-box;
    min-height: 0;
    padding: 26px 27px;
    padding-right: 34px;
  }
}
.products-list__group-wrapper:hover,
.products-list__group-wrapper:focus {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.products-list__group-wrapper:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.products-list__product-title-link {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: inherit;
}
@media (min-width: 768px) {
  .products-list__product-title-link {
    font-size: 20px;
    line-height: 24px;
  }
}
.products-list__product-title-link:hover,
.products-list__product-title-link:focus {
  opacity: 0.6;
}
.products-list__product-title-link:active {
  opacity: 0.3;
}
.products-list__specifications {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .products-list__specifications {
    margin-top: 10px;
    margin-bottom: auto;
    font-size: 15px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .products-list__specifications {
    margin-top: 7px;
    margin-bottom: 0;
  }
}
.products-list__product-price {
  position: relative;
  margin: 0;
  margin-top: 41px;
  padding: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .products-list__product-price {
    margin-top: 60px;
    font-size: 17px;
    line-height: 24px;
  }
}
.products-list__product-price::before {
  content: "";
  position: absolute;
  top: -23px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ececec;
}
.products-list__buy {
  position: absolute;
  right: 27px;
  bottom: 32px;
  display: block;
  opacity: 0.2;
}
@media (min-width: 768px) {
  .products-list__buy {
    right: 32px;
  }
}
.products-list__buy:hover,
.products-list__buyfocus {
  opacity: 1;
}
.products-list__buy:active {
  opacity: 0.3;
}
.products-list__icon-cart {
  display: block;
  width: 21px;
  height: 19px;
}
.products-list__buy:hover .products-list__icon-cart,
.products-list__buy:focus .products-list__icon-cart {
  fill: #63d1bb;
}
.production-process__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
.production-process__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
.production-process__make-order {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
}
.page-footer {
  background-color: #f1f1f1;
}
.page-footer__wrapper {
  display: block;
  padding-top: 25px;
  padding-bottom: 23px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 51px;
  }
}
.page-footer__logo {
  display: none;
  width: 102px;
  height: 34px;
  margin: 0;
  margin-right: 75px;
  padding: 0;
}
@media (min-width: 768px) {
  .page-footer__logo {
    display: block;
  }
}
.page-footer__logo:hover .page-footer__logo-image,
.page-footer__logo:focus .page-footer__logo-image,
object {
  fill: #46c1ae;
}
.page-footer__logo:active .page-footer__logo-image {
  opacity: 0.3;
}
.page-footer__social-networks-list {
  margin: 0;
}
.page-footer__developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 182px;
  margin: 0 auto;
  margin-top: 50px;
  font-weight: bold;
  font-size: 19px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .page-footer__developer {
    margin: 0;
  }
}
.social-networks-list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 28%;
  list-style: none;
}
@media (min-width: 768px) {
  .social-networks-list {
    width: 21.1%;
    padding: 0;
  }
}
@media (min-width: 1150px) {
  .social-networks-list {
    width: 13.4%;
  }
}
.social-networks-list__item {
  margin: 0;
  padding: 0;
}
.social-networks-list .social-networks-list__item:last-child {
  margin: 0;
}
.social-networks-list__link {
  display: block;
}
.social-networks-list__icon-insta {
  display: block;
  width: 22px;
  height: 21px;
}
.social-networks-list__link:hover .social-networks-list__icon-insta,
.social-networks-list__link:focus .social-networks-list__icon-insta,
.social-networks-list__link:hover .social-networks-list__icon-fb,
.social-networks-list__link:focus .social-networks-list__icon-fb,
.social-networks-list__link:hover .social-networks-list__icon-tw,
.social-networks-list__link:focus .social-networks-list__icon-tw {
  fill: #46c1ae;
}
.social-networks-list__link:active .social-networks-list__icon-insta,
.social-networks-list__link:active .social-networks-list__icon-fb,
.social-networks-list__link:active .social-networks-list__icon-tw {
  opacity: 0.3;
}
.social-networks-list__icon-fb {
  display: block;
  width: 15px;
  height: 29px;
}
.social-networks-list__icon-tw {
  display: block;
  width: 24px;
  height: 20px;
}

/*# sourceMappingURL=style.css.map */
